* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
  color: white;
}

main {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.result {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  background-color: #4caf50;
}

.card {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc((100% - 20px) / 6);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
}
